body,html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	height: 100vh;
    overflow-x: hidden;
    position: relative;
}
nav {
	height: 10vh;
	margin: 0;
    display: flex;
    flex-flow: column wrap;
    background: firebrick;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: inset 0 -5px 0px #842627;
}
.logo-nav {
    margin: 10px;
}
#ham {
    display: none;
    align-self: flex-end;
    height: 100%;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
nav h2 {
	margin: 0;
	align-self: flex-start;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 20px;
}
nav ul {
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	height: 100%;
    width: 30%;
	font-weight: bold;
}
nav ul a {
    text-decoration: none;
    color: #fff;
}
nav ul li {
	padding: 0 20px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}

nav ul li:hover {
	background: rgba(100,100,100,.2);
}
section {
	min-height: 80vh;
	height: 80vh;
	background: rgba(100,100,100,.4)
}
#principal {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: #842627;
    height: 90vh;
    background-position: bottom;
    width: 100%;
    margin: 0 auto;
}
.slider {
	position: relative;
    background: black;
    width: 90%;
    height: 90%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url(../img/inside.jpg);
    visibility: visible;
    transition: 1s all ease-in-out;
}
.info {
	position: relative;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url(../img/inside.jpg);
    background-size: cover;
    visibility: visible;
    transition: 1s all ease-in-out;
}
.brand {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.logo {
    /*background: url(../img/logo.jpg);*/
    background-size: contain;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    height: 400px;
    width: 400px;
    /*border: medium solid red;*/
}
.data {
	height: 80%;
    width: 30%;
    padding: 0 5%;
    color: black;
    font-size: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-weight: bold;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
}
.galeria {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}
.second .data {
	margin-left: 65px;
	width: 25%;
}
.third {
    background: url(../img/jardin.jpg);
    background-size: cover;
    background-position: center;
}

.third .data {
	text-align: center;
}
.third .data a {
	text-decoration: none;
    width: 130px;
    height: 50px;
    background: firebrick;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    color: #842627;
	position: absolute;
	right: -35px;
}
.right {
    color: #842627;
    position: absolute;
    left: -35px;
}
.slider i {
    font-size: 4em;
    cursor: pointer;
    height: 100%;
    background: firebrick;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 4%;
}
.left {
    border-radius: 0 50% 50% 0;
}
.right {
    border-radius: 50% 0 0 50%;
}
.column {
	flex-flow: column wrap !important;
}
.apagado {
	transition: 1s all ease-in-out;
	display: none;
	visibility: hidden;
}

/*Descripcion*/
#descripcion{
    height: 100vh;
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descripcion {
    height: 80vh;
    width: 40vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: firebrick;
    font-size: 30px;
    padding-left: 5%;
    margin-left: 5%;
    border-left: thin firebrick solid;
}
.descripcion p {
    text-align: justify;
    color: rgba(20,20,20,1);
}
#descripcion .imagen {
    height: 80vh;
    width: 40%;
    background: url(../img/inside.jpg);
    background-size: cover;
    border-radius: 10% 0 0 10%;
}

/*Servicios*/
.catalogo {
    background: #FFF;
    display: flex;
    flex-flow: row wrap;
    border-top: solid firebrick thick;
    box-shadow: inset 0 0 10px rgba(20,20,20,.4);
    padding: 5vh 0;
    min-height: 90vh;
    height: auto;
}
.catalogo .barra {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    border-bottom: medium solid rgba(50,50,50,.2);

}
.buscador {
    display: flex;
    justify-content: center;
    height: 30px;
    /* border: 2px solid lightgray; */
    box-shadow: 2px 1px 1px 2px rgba(100,100,100,.1);
    border-radius: 7px;
    width: 300px;
    margin-right: 10%;
}
.buscador i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px !important;
    color: firebrick;
}
.buscador input {
    border: none;
    width: 98%;
    padding-left: 2%;
}

.catalogo h3 {
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10%;
    color: firebrick;
}
.catalogo .contenedor{
    min-height: 84vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.catalogo .contenedor .carta {
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(50,50,50,.5);
}
.catalogo .contenedor .carta .imagen {
    width: 100%;
    height: 70%;
    background: url('../img/inside.jpg');
}
.catalogo .contenedor .carta .titulo {
    height: 30%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

#contacto {
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#form {
    background: white !important;
}
#contacto h2 {
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 2em;
    color: firebrick;
    font-family: 'Open Sans';
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#contacto h2 i{
    font-size: 1.2em;
    margin-right: 20px;
}
#contacto form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    background: #fff;
    position: relative;
    z-index: 1;


}
form .campo {
    width: 40%;
    margin: 0 5%;
    margin-top: 2%;
    min-height: 10vh;
    background: white;
    display: flex;
    flex-flow: column wrap;
}
form .campo label {
    color: firebrick;
    font-weight: bold;
    margin-bottom: 10px;
}
form .campo input {
    border-radius: 5px;
    width: 90%;
    height: 30px;
    padding: 0 5%;
    font-family: 'Source Sans Pro', sans-serif;
}
.mensaje {
    border-radius: 5px;
    width: 94%;
    padding: 1% 3%;
    box-shadow: inset 1px 1px 2px rgba(50,50,50,.5);
    height: 70px !important;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.fila {
    display: flex;
    width: 100%;
}
.enviar {
    width: 100%;
    margin-top: 15px;
    margin-left: 65px;
    align-self: flex-start;
    background: firebrick;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

#archivo {
    width: 100%;
    padding: 0;
}

footer {
    height: 5vh;
    background: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

footer i {
    font-size: 1.5em !important;
    cursor: pointer;
}

footer h3 {
    position: absolute;
    left: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    align-self: center;
    color: white;
}

.modalon {
    transition: 1s all ease-in-out;
    left: 0% !important;
    transform: opacity(1);
}
#modal {
    background: white;
    top: 0;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 3;
    transform: opacity(0);
    transition: 1s all ease-in-out;
}
#modal a {
    text-decoration: none;
}
#modal .brand {
    background: rgba(178,34,34,.9);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: #FFF;
    box-shadow: inset 0 -5px 0px #842627;
}
#modal .brand #cerrar {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
#modal .brand .logo-nav {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
}
#modal ul {
    width: 100%;
    min-height: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#modal ul li {
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
#modal ul li:hover {
    background: rgba(250,250,250,1);
}
#modal .modal-footer {
    width: 100%;
    height: 5vh;
    background: firebrick;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
}
.modal-footer i {
    cursor: pointer;
}

#impresion {
    background: url(../img/impresion.jpeg);
}

#plano {
    background: url(../img/plano.jpeg);
}

#copias {
    background: url(../img/copias.jpeg);
}

@media screen and (max-width:900px) {
    .slider {
        width: 100% !important;
        height: 100%;
    }
    #contacto {
        padding-top: 150px;
        height: 565px;
        padding-bottom: 50px;
        background: white;
    }
    #descripcion {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .descripcion {
        width: 80%;
        margin-left: 0;
        border-left: 0;
        border-top: medium solid firebrick;
        padding: 0 10%;
    }
    #descripcion .imagen {
        border-radius: 0% !important;
        width: 90% !important;
        height: 60vh !important;
        margin-bottom: 5%;
    }
    .enviar {
        margin-top: 10px;
        margin-left: 0;
        align-self: center;
    }
    .fila {
        flex-flow: column;
        align-items: center;
    }
    .info {
        border-radius: 0;
    }
    #left {
        display: none;
    }
    #right {
        display: none;
    }
    #ham {
        display: flex;
    }
    #menu {
        display: none;
    }
    .slider {
        width: 80%;
    }
    .logo {
        display: none;
    }
    .second .data {
        margin-left: 0;
        width: 60%;
    }
    .second .galeria {
        display: none;
    }
    .third .data {
        width: 60%;
    }
    .data {
        width: 80%;
    }
    .descripcion {
        font-size: 19px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .catalogo h3 {
        margin: 0 9%;
    }
    .barra {
        flex-flow: column;
    }
    .catalogo .barra .buscador {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #servicios h3 {
        margin-bottom: 20px;
    }
}